        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .menu-container {
            display: flex;
            color: #fff;
            background-color: #5995DA;
            /* Blue */
            padding: 20px 0;
            justify-content: center;
        }
        
        .lab-name {
            display: flex;
            color: #000000;
            background-color: #7EC437;
            padding: 15px 0;
            justify-content: left;
        }
        
        .menu {
            width: 900px;
            display: flex;
            justify-content: space-between;
        }
        
        .signup {
            margin-left: auto;
        }
        
        .links {
            display: flex;
            justify-content: flex-end;
        }
        
        .login {
            margin-left: 20px;
        }
        
        .header-container {
            color: #5995DA;
            background-color: #D6E9FE;
            display: flex;
            justify-content: center;
        }
        
        .header {
            width: 900px;
            height: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .photo-grid-container {
            display: flex;
            justify-content: center;
        }
        
        .photo-grid {
            width: 900px;
            display: flex;
            justify-content: center;
            /* Change this */
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
        }
        
        .photo-grid-item {
            border: 1px solid #fff;
            width: 300px;
            height: 300px;
        }
        
        .first-item {
            order: 1;
        }
        
        .last-item {
            order: -1;
        }
        
        .social,
        .subscribe {
            align-self: flex-end;
            margin-bottom: 20px;
        }
        
        .social,
        .subscribe {
            align-self: flex-end;
            margin-bottom: 20px;
        }
        
        .footer {
            display: flex;
            justify-content: space-between;
        }
        
        .footer-item {
            border: 1px solid #fff;
            background-color: #D6E9FE;
            height: 200px;
            flex: 1;
        }
        
        .footer-three {
            flex: 2;
        }
        
        .footer-one,
        .footer-three {
            background-color: #5995DA;
            flex: initial;
            width: 300px;
        }
        
        .carousel {
            /*display: flex;
    justify-content: center;*/
            overflow: hidden;
            max-width: 600px;
            position: relative;
        }
        
        .carousel .carousel_item,
        .carousel .carousel_item--hidden {
            display: none;
        }
        
        .carousel .carousel_item--visible {
            display: block;
        }
        /*.carousel .carousel_item img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }
        */
        
        .carousel .carousel_actions {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .carousel .carousel_actions button {
            border-radius: 50px;
            border: 0;
            font-weight: bold;
        }
        
        .carousel .carousel_actions button#carousel_button--prev {
            margin-left: 40px;
        }
        
        .carousel .carousel_actions button#carousel_button--next {
            margin-left: 40px;
        }